* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  position: relative;
}
#main > h1 {
  font-size: 4vw;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main > h2 {
    font-size: 2vw;
    color: green;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
#game {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30vw;
  width: 30vw;
  margin-top: 20px;
}
.container {
  height: 33.3%;
  width: 100%;
  display: flex;
}
/* .container:nth-child(2){
    border: none;
} */
.box {
  height: 100%;
  width: 33.3%;
  border: 2px solid black;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #D3D3D3;
}
#reset {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  padding: 1vw;
  width: fit-content;
  margin-top: 20px;
  background-color: black;
  font-weight: 300;
  color: white;
  font-weight: bold;
  border-radius: 30px;
}
@media (max-width:600px) {
    .box{
        font-size: 120%;
    }
    
}